DATABASE_URL=

FRONTEND_URL=

# require('crypto').randomBytes(32).toString("hex")
JWT_SECRET=

BACKEND_URL=

CLIENT_UID_42=
CLIENT_SECRET_42=


FAILURE_REDIRECT_URI=

GOOGLE_CLEINT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_SCOPE=


CLIENT_ID_GITHUB=
CLIENT_SECRET_GITHUB=
CLIENT_SCOPE_GITHUB=


EMAIL_SENDER_USERNAME=
EMAIL_SENDER_PASSWORD=
